body
  .hotel_section
    background-color: #1A1515
    padding: 100px 0 100px
    .hotel_section_info
      margin: 0 75px 0 75px
      .hotel_section_image
        display: inline-block
        img
          width: 500px
          display:block
          margin:auto
      .hotel_section_text
        padding: 40px 40px 40px 40px
        float: right
        display: inline-block
        h2
          font-size: 25px
        .hotel_title_text
          font-size: 30px
        .hotel_paragraph_text
          font-size: 20px
        a
          color: #D58471
    .lower_section
      margin-top: 7rem
      .hotel_section_text
        float: left

  .location_section
    background-color: #F4F4F4
    display: inline-block
    padding: 7rem 5rem 7rem 5rem
    .individual_location
      display: inline-block
      margin: 0 auto 0 auto
      img
        height: 400px
        display:block
        margin:auto
      h2
        color: #777777
        font-size: 25px
        margin-top: 15px
      .hotel_title_text
        font-size: 30px
      .hotel_paragraph_text
        font-size: 20px
    .init_section
      float: left
      margin-top: 200px
    .follow_section
      float: right
      margin-top: 200px
  
  .about-us_section
    height: 800px
    margin: 125px 200px 125px 200px
    .about-us_text
      padding-top: 100px
      display: inline-block
    .upper_image
      height: 700px
      float: right
    .about-us_image
      .upper_image
        display: none
      .lower_image
        margin-top: 100px
        width: 560
        heigth: 420

  .careers_section
    background-color: #D58471
    padding: 150px 200px 150px 200px
    display: inline-block
    .careers_textinfo
      display: inline-block
      position: relative
      top: 50%
      -webkit-transform: translateY(25%)
      transform: translateY(25%)
      h2
        font-size: 20px
      .careers_headertext
        font-size: 40px
    .careers_image
      float: right
      display: inline-block
      img
        height: 700px
        display:block
        margin:auto