body
  box-sizing: border-box
  padding: 0
  margin: 0
  .royal_canadian_lodge
    background-image: url('../assets/images/royal_canadian_lodge_header.png')
    object-fit: cover
    .header_image_text
      font-size: 50px
  header
    position: relative
    background-image: url('../assets/images/hero.png')
    object-fit: contain
    height: 100vh
    .logo_container
      display: inline-block
      .header-logo-img
        height: 135px
        width: 100px
        margin: 55px 0px 0px 100px
    .list_container
      margin-top: 100px
      padding: 0
      ul
        list-style: none
        margin-right: 100px
        display: flex
        li
          display: inline
          font-size: 24px
          margin-left: auto
          margin-right: auto
          flex-grow: 1
          font-weight: lighter
      .list_container_logos
        display: none
    .center_text
      position: absolute
      top: 50%
      left: 50%
      -ms-transform: translate(-50%, -50%)
      transform: translate(-50%, -50%)
      h1
        font-size: 50px
      span
        font-size: 30px
        line-height: 100%
  .royal_canadian_lodge
    background-image: url('../assets/images/royal_canadian_lodge_header.png')
    object-fit: cover
    .header_image_text
      font-size: 50px

@media screen and (max-width: $medium)
  body
    box-sizing: border-box
    header
      width: 100vw
      position: relative
      .logo_container
        .header-logo-img
          margin: 50px 0px 0px 50px
      .list_container
        margin-top: 70px
        #menu_mobile
          display: none
        .list_container_logos
          font-size: 50px
          display: flex
          float: right
          margin-right: 10%



