body {
  width: 100%;
  padding: 0;
  margin: 0;
}
body header {
  position: relative;
  background-image: url("../assets/images/hero.png");
  height: 100vh;
}
body header .logo_container {
  display: inline-block;
}
body header .logo_container .header-logo-img {
  height: 135px;
  width: 100px;
  margin: 55px 0px 0px 100px;
}
body header .list_container {
  margin-top: 100px;
  padding: 0;
}
body header .list_container ul {
  list-style: none;
  margin-right: 100px;
  display: flex;
}
body header .list_container ul li {
  display: inline;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
  font-weight: lighter;
}
body header .center_text {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
body header .center_text h1 {
  font-size: 50px;
}
body header .center_text span {
  font-size: 30px;
  line-height: 100%;
}

body .hotel_section {
  background-color: #1A1515;
  padding: 100px 0 100px;
}
body .hotel_section .hotel_section_info {
  margin: 0 75px 0 75px;
}
body .hotel_section .hotel_section_info .hotel_section_image {
  display: inline-block;
}
body .hotel_section .hotel_section_info .hotel_section_image img {
  position: relative;
  width: 500px;
  margin: 0px auto 0px auto;
}
body .hotel_section .hotel_section_info .hotel_section_text {
  padding: 40px 40px 40px 40px;
  float: right;
  display: inline-block;
}
body .hotel_section .hotel_section_info .hotel_section_text h2 {
  font-size: 25px;
}
body .hotel_section .hotel_section_info .hotel_section_text .hotel_title_text {
  font-size: 30px;
}
body .hotel_section .hotel_section_info .hotel_section_text .hotel_paragraph_text {
  font-size: 20px;
}
body .hotel_section .hotel_section_info .hotel_section_text a {
  color: #D58471;
}
body .hotel_section .lower_section {
  margin-top: 7rem;
}
body .hotel_section .lower_section .hotel_section_text {
  float: left;
}
body .location_section {
  background-color: #F4F4F4;
  display: inline-block;
  padding: 7rem 5rem 7rem 5rem;
}
body .location_section .individual_location {
  display: inline-block;
  margin: 0 auto 0 auto;
}
body .location_section .individual_location img {
  height: 400px;
}
body .location_section .individual_location h2 {
  color: #777777;
  font-size: 25px;
  margin-top: 15px;
}
body .location_section .individual_location .hotel_title_text {
  font-size: 30px;
}
body .location_section .individual_location .hotel_paragraph_text {
  font-size: 20px;
}
body .location_section .init_section {
  float: left;
  margin-top: 200px;
}
body .location_section .follow_section {
  float: right;
  margin-top: 200px;
}
body .about-us_section {
  height: 800px;
  margin: 125px 200px 125px 200px;
}
body .about-us_section .about-us_text {
  padding-top: 100px;
  display: inline-block;
}
body .about-us_section .upper_image {
  height: 700px;
  float: right;
}
body .about-us_section .about-us_image .upper_image {
  display: none;
}
body .about-us_section .about-us_image .lower_image {
  margin-top: 100px;
  width: 560;
  heigth: 420;
}
body .careers_section {
  background-color: #D58471;
  padding: 150px 200px 150px 200px;
  display: inline-block;
}
body .careers_section .careers_textinfo {
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(25%);
  transform: translateY(25%);
}
body .careers_section .careers_textinfo h2 {
  font-size: 20px;
}
body .careers_section .careers_textinfo .careers_headertext {
  font-size: 40px;
}
body .careers_section .careers_image {
  float: right;
  display: inline-block;
}
body .careers_section .careers_image img {
  width: 620px;
  height: 790px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #1A1515;
}
footer a {
  color: white;
}
footer p {
  color: white;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer .row {
  padding: 100px 120px 100px 120px;
  margin-right: 0;
}
footer .row .footer_info .footer_menu_list {
  font-size: 20px;
}
footer .row .footer_info .footer_menu_list .current_tab {
  color: #D58471;
}
footer .row .footer_info .footer_menu_list li {
  margin-top: 5px;
}
footer .row .footer_info .footer_social_media ul {
  display: flex;
  width: 60%;
  float: left;
}
footer .row .footer_info .footer_social_media ul li {
  margin-right: auto;
  font-size: 20px;
}
footer .row .footer_address .footer_address_name {
  font-size: 25px;
  font-weight: normal;
}
footer .row .footer_address p {
  font-weight: lighter;
}
footer .row .footer_newsletter .footer_newsletter_title {
  font-size: 25px;
}
footer .row .footer_newsletter .footer_newsletter_text {
  font-weight: lighter;
}
footer .row .footer_newsletter form input {
  width: 100%;
  height: 50px;
}
footer .row .footer_newsletter form a {
  color: #D58471;
  float: right;
}

/*# sourceMappingURL=style.css.map */
