body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body .RCL_header {
  background-image: url("../assets/images/royal_canadian_lodge_header.png");
  object-fit: cover;
  background-size: cover;
}
body .RCL_header .center_text .header_image_text {
  font-size: 50px;
}
body header {
  position: relative;
  background-image: url("../assets/images/hero.png");
  object-fit: contain;
  height: 100vh;
  background-size: cover;
}
body header .logo_container {
  display: inline-block;
}
body header .logo_container .header-logo-img {
  height: 135px;
  width: 100px;
  margin: 55px 0px 0px 100px;
}
body header .list_container {
  margin-top: 100px;
  padding: 0;
}
body header .list_container ul {
  list-style: none;
  margin-right: 100px;
  display: flex;
}
body header .list_container ul li {
  display: inline;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
  font-weight: lighter;
}
body header .list_container .list_container_logos {
  display: none;
}
body header .center_text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
body header .center_text h1 {
  font-size: 50px;
}
body header .center_text span {
  font-size: 30px;
  line-height: 1.6;
}

@media screen and (max-width: 1025px) {
  body {
    box-sizing: border-box;
  }
  body header {
    width: 100vw;
    position: relative;
  }
  body header .logo_container .header-logo-img {
    margin: 5% 0px 0px 5%;
  }
  body header .list_container {
    margin-top: 5%;
  }
  body header .list_container #menu_mobile {
    display: none;
  }
  body header .list_container .list_container_logos {
    font-size: 250%;
    display: flex;
    float: right;
    margin-right: 10%;
  }
  body header .center_text h1 {
    font-size: 700%;
  }
}
@media screen and (max-width: 641px) {
  body header .center_text h1 {
    font-size: 30px;
  }
  body header .center_text span {
    font-size: 20px;
    line-height: 1.6;
  }
}
body .hotel_section {
  background-color: #1A1515;
  padding: 10% 0 10%;
}
body .hotel_section .hotel_section_info {
  margin: 0 75px 0 75px;
}
body .hotel_section .hotel_section_info .hotel_section_image img {
  width: 70%;
  display: block;
  margin: auto;
}
body .hotel_section .hotel_section_info .hotel_section_text {
  padding: 40px 40px 40px 40px;
  float: right;
  display: inline-block;
}
body .hotel_section .hotel_section_info .hotel_section_text h2 {
  font-size: 25px;
}
body .hotel_section .hotel_section_info .hotel_section_text .hotel_title_text {
  font-size: 30px;
}
body .hotel_section .hotel_section_info .hotel_section_text .hotel_paragraph_text {
  font-size: 20px;
  font-weight: lighter;
}
body .hotel_section .hotel_section_info .hotel_section_text a {
  color: #D58471;
}
body .hotel_section .lower_section {
  margin-top: 7rem;
  position: relative;
}
body .hotel_section .lower_section .hotel_section_text {
  position: absolute;
  left: 0;
}
body .hotel_section .lower_section .hotel_section_image {
  left: 50%;
}
body .location_section {
  background-color: #F4F4F4;
  display: inline-block;
  padding: 7rem 5rem 7rem 5rem;
}
body .location_section .individual_location {
  display: inline-block;
  margin: 0 auto 0 auto;
}
body .location_section .individual_location img {
  height: 400px;
}
body .location_section .individual_location h2 {
  color: #777777;
  font-size: 25px;
  margin-top: 15px;
}
body .location_section .individual_location p {
  margin-right: 20%;
}
body .location_section .individual_location .hotel_title_text {
  font-size: 30px;
}
body .location_section .individual_location .hotel_paragraph_text {
  font-size: 20px;
}
body .location_section .init_section {
  float: left;
  margin-top: 200px;
}
body .location_section .follow_section {
  float: right;
  margin-top: 200px;
}
body .location_section_mobile {
  display: none;
}
body .about-us_section {
  margin: 125px 200px 125px 200px;
  display: inline-block;
  position: relative;
}
body .about-us_section .about-us_image .lower_image {
  margin-top: 400px;
  padding-right: 200px;
}
body .about-us_section .about-us_text {
  position: absolute;
}
body .about-us_section .about-us_text .header_text {
  font-size: 35px;
}
body .about-us_section .about-us_text p, body .about-us_section .about-us_text a {
  font-size: 20px;
  font-weight: 300;
}
body .about-us_section .about-us_text p {
  color: #777777;
}
body .about-us_section .about-us_text a {
  color: #D58471;
}
body .careers_section {
  background-color: #D58471;
  padding: 150px 200px 150px 200px;
  display: inline-block;
  width: 100vw;
}
body .careers_section .careers_textinfo {
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(25%);
  transform: translateY(25%);
}
body .careers_section .careers_textinfo h2 {
  font-size: 20px;
}
body .careers_section .careers_textinfo .careers_headertext {
  font-size: 40px;
}
body .careers_section .careers_textinfo p, body .careers_section .careers_textinfo a {
  font-size: 20px;
  font-weight: 300;
}
body .careers_section .careers_image {
  float: right;
  display: inline-block;
}
body .careers_section .careers_image img {
  height: 700px;
}
body .experience_royal_canadian_lodge .about-us_image .upper_image {
  float: right;
}
body .experience_royal_canadian_lodge .about-us_text {
  top: 0;
}
body .RCL_accommodations {
  background-color: #1A1515;
}
body .restaurant_section {
  background-color: #FFFFFF;
}
body .restaurant_section .hotel_section_text .hotel_paragraph_text {
  color: #777777;
}

@media screen and (max-width: 1367px) {
  body .lower_section .hotel_section_image {
    float: right;
    margin: 0;
  }
}
@media screen and (max-width: 1025px) {
  body .experience_royal_canadian_lodge .about-us_image .upper_image {
    float: none;
  }
  body .hotel_section {
    margin: 0;
    display: inline-block;
  }
  body .hotel_section .hotel_section_info {
    margin-left: 2%;
    margin-right: 2%;
  }
  body .hotel_section .hotel_section_info .hotel_section_image img {
    width: 100%;
  }
  body .hotel_section .hotel_section_info .hotel_section_text {
    padding: 2% 0 0 0;
  }
  body .hotel_section .hotel_section_info .hotel_section_text .hotel_title_text {
    font-size: 35px;
  }
  body .hotel_section .hotel_section_info .hotel_section_text .hotel_paragraph_text, body .hotel_section .hotel_section_info .hotel_section_text a {
    font-size: 25px;
  }
  body .hotel_section .lower_section {
    display: inline-block;
  }
  body .hotel_section .lower_section .hotel_section_image {
    position: static;
  }
  body .hotel_section .lower_section .hotel_section_text {
    position: static;
  }
  body .location_section {
    display: none;
  }
  body .location_section_mobile {
    margin: 0;
    padding-top: 5rem;
    width: 100vw;
    display: flex;
    background-color: #F4F4F4;
  }
  body .location_section_mobile #myCarousel {
    width: 100%;
  }
  body .location_section_mobile #myCarousel .item {
    margin: 0;
    width: 100%;
  }
  body .location_section_mobile #myCarousel .item .singleItem {
    text-align: left;
    display: inline-block;
  }
  body .location_section_mobile #myCarousel .item .singleItem h2 {
    font-size: 20px;
    padding-bottom: 5rem;
    height: 50px;
  }
  body .location_section_mobile #myCarousel .item .singleItem img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  body .location_section_mobile #myCarousel .carousel-control {
    opacity: 0;
  }
  body .about-us_section {
    background-color: #FFFFFF;
    display: inline-block;
    width: 100vw;
    margin: 2% 1% 2% 1%;
    position: relative;
    box-sizing: border-box;
  }
  body .about-us_section .about-us_image {
    position: relative;
  }
  body .about-us_section .about-us_image .lower_image {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    padding-left: 40%;
    bottom: 0;
    padding-right: 5%;
  }
  body .about-us_section .about-us_image .upper_image {
    padding-top: 20px;
    padding-right: 30%;
    margin-bottom: 20%;
  }
  body .about-us_section .about-us_text {
    display: inline-block;
    position: static;
  }
  body .careers_section {
    padding: 0;
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
  }
  body .careers_section .careers_image {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0;
  }
  body .careers_section .careers_image img {
    width: 100%;
    object-fit: contain;
    object-position: top;
    display: block;
    margin: auto;
  }
  body .careers_section .careers_textinfo {
    padding-bottom: 200px;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
  }
  body .careers_section .careers_textinfo h2 {
    font-weight: 400;
    padding-left: 20px;
  }
  body .careers_section .careers_textinfo p, body .careers_section .careers_textinfo a {
    font-size: 25px;
    font-weight: 300;
    padding-left: 20px;
    padding-right: 20px;
  }
  body .careers_section .careers_textinfo a {
    padding-bottom: 200px;
  }
}
@media screen and (max-width: 641px) {
  body header .center_text h1 {
    font-size: 30px;
  }
  body header .center_text span {
    font-size: 20px;
    line-height: 1.6;
  }
  body .careers_section .careers_image {
    height: 500px;
  }
}
footer {
  background-color: #1A1515;
  margin: 0;
}
footer a {
  color: white;
}
footer p {
  color: white;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer .row {
  padding: 100px 120px 100px 120px;
  margin-right: 0;
}
footer .row .footer_info .footer_menu_list {
  font-size: 20px;
}
footer .row .footer_info .footer_menu_list .current_tab {
  color: #D58471;
}
footer .row .footer_info .footer_menu_list li {
  margin-top: 5px;
}
footer .row .footer_info .footer_social_media ul {
  display: flex;
  width: 60%;
  float: left;
}
footer .row .footer_info .footer_social_media ul li {
  margin-right: auto;
  font-size: 20px;
}
footer .row .footer_address .footer_address_name {
  font-size: 25px;
  font-weight: normal;
}
footer .row .footer_address p {
  font-weight: lighter;
}
footer .row .footer_newsletter .footer_newsletter_title {
  font-size: 25px;
}
footer .row .footer_newsletter .footer_newsletter_text {
  font-weight: light;
}
footer .row .footer_newsletter form input {
  width: 100%;
  height: 50px;
}
footer .row .footer_newsletter form a {
  color: #D58471;
  float: right;
}
footer .footer_copyright p {
  font-weight: lighter;
}

@media screen and (max-width: 1025px) {
  footer .row {
    padding: 2% 1.5% 2% 1.5%;
    display: flex;
  }
  footer .row .footer_info div {
    display: flex;
  }
  footer .row .footer_address .footer_individual_address .footer_address_name {
    font-size: 25px;
  }
  footer .row .footer_address .footer_individual_address p {
    font-size: 20px;
  }
  footer .row .footer_newsletter p, footer .row .footer_newsletter a {
    font-size: 20px;
  }
  footer .footer_copyright {
    text-align: center;
    font-size: 20px;
  }
}
@media screen and (max-width: 641px) {
  footer .row .footer_address, footer .row .footer_newsletter, footer .row .footer_copyright {
    margin-top: 5%;
  }
}

/*# sourceMappingURL=style.css.map */
